---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for p in collections.all %}
{%- if not p.data.eleventyExcludeFromCollections and p.data.sitemap != false and p.url %}
{%- set hl = p.data.hreflangs %}
{#- <lastmod> tek gerçek tarama önceliği sinyalidir; Google changefreq ve priority'yi
    yok sayar (2023'ten beri açıkça belirtiliyor), o yüzden yazılmıyor. #}
{%- set lm = p | lastmod %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
{%- if lm %}
    <lastmod>{{ lm }}</lastmod>
{%- endif %}
{%- if hl.tr %}
    <xhtml:link rel="alternate" hreflang="tr" href="{{ hl.tr }}"/>
{%- endif %}
{%- if hl.en %}
    <xhtml:link rel="alternate" hreflang="en" href="{{ hl.en }}"/>
{%- endif %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ hl.xDefault }}"/>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
